{% extends 'base.html' %} {% block content %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game</th>
        <th>Description</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in basketitems %}
      <tr>
        <td>{{ item.game.name }}</td>
        <td>{{ item.game.description }}</td>
        <td>{{ item.game.platform }}</td>
        <td>{{ item.game.genre }}</td>
        <td>{{ item.unit_price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.total_price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Total price: €{{ total_price }}</h3>
  <a class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
</div>

{% endblock %}
