{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="text-center">
    <h1 class="display-4" style="color: #ff9900">{{ game.name }}</h1>
    <h3 class="mb-4" style="color: #333">{{ game.description }}</h3>
    <h3 class="mb-4" style="color: #666">
      <strong>Platform:</strong> {{ game.platform }}
    </h3>
    <p class="mb-4" style="color: #999">
      <strong>Genre:</strong> {{ game.genre }}
    </p>
    <p><strong>Price:</strong> €{{ game.price }}</p>
    <p><strong>Stock:</strong> {{ game.stock }}</p>

    {% if game.stock == 0 %}
    <p>This item is out of stock</p>
    {% elif user.is_authenticated %}
    <a class="btn btn-primary mb-2" href="{% url 'buy_game' game.id %}"
      >Buy game</a
    >
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'edit_game' game.id %}"
      >Edit game</a
    >
  </div>
</div>

{% endblock %}
